<div class="w-full">
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <div class="flex justify-between items-center pb-8">
    <h1 class="mx-auto text-lg font-bold text-4xl">Products</h1>
  </div>

  <table id="products" class="mx-auto">
    <tfoot>
      <tr>
        <td colspan="3">
          <div class="mt-8">
            <%= link_to 'New Product', 
                new_product_path,
                class: "inline rounded-lg py-3 px-5 bg-green-600
                text-white block font-medium" %>
          </div>
        </td>
      </tr>
    </tfoot>

    <tbody>
      <div class="grid grid-cols-4 gap-4">
        <% @products.each do |product| %>
          <div class="col-md-4">
            <%= image_tag(product.image_url, class: 'w-40') %>
            <h1 class="text-xl font-bold mb-3"><%= product.title %></h1> 
            <p><%= truncate(strip_tags(product.description), length: 40) %></p>
            <p>
              <%= link_to 'Show', product, class: 'hover:underline' %>
              <%= link_to 'Edit', edit_product_path(product), class: 'hover:underline' %>
              <%= link_to 'Delete', product, class: 'hover:underline', 
                                              data: { turbo_method: :delete,
                                              turbo_confirm: "Are you sure?" } %>
            </p>     
          </div>
        <% end %>
      </div>
    </tbody>
  </table>
</div>
